<div class="game-card" (click)="handleCardClick($event)">

    <div class="game-image-container">
        <img
            [src]="getGameImage()"
            [alt]="juego.nombre"
            class="game-image"
            loading="lazy"
        />


        <div class="game-overlay">
            <div class="overlay-actions">

                <button
                    pButton
                    type="button"
                    class="p-button-rounded p-button-info action-button"
                    pTooltip="Ver detalles"
                    tooltipPosition="top"
                    (click)="onClick.emit()"
                >
                    <i class="pi pi-eye"></i>
                </button>


                <button
                    pButton
                    type="button"
                    [class]="isFavorite ? 'p-button-rounded p-button-danger action-button favorite-active' : 'p-button-rounded p-button-danger action-button'"
                    [pTooltip]="isFavorite ? 'Quitar de favoritos' : 'Agregar a favoritos'"
                    tooltipPosition="top"
                    (click)="handleToggleFavorite($event)"
                >
                    <i [class]="isFavorite ? 'pi pi-heart-fill' : 'pi pi-heart'"></i>
                </button>


                <button
                    pButton
                    type="button"
                    [class]="isInBiblio ? 'p-button-rounded p-button-success action-button in-biblio' : 'p-button-rounded p-button-secondary action-button'"
                    [pTooltip]="isInBiblio ? 'En tu biblioteca' : 'Agregar a biblioteca'"
                    tooltipPosition="top"
                    (click)="handleAddToBiblio($event)"
                    [disabled]="isInBiblio"
                >
                    <i [class]="isInBiblio ? 'pi pi-check' : 'pi pi-plus'"></i>
                </button>
            </div>
        </div>


        <div class="price-badge">
            <span>{{ getFormattedPrice() }}</span>
        </div>
    </div>


    <div class="game-info">

        <h3
            class="game-title"
            [pTooltip]="juego.nombre"
            tooltipPosition="top"
        >
            {{ juego.nombre }}
        </h3>


        <p class="game-developer">
            <i class="pi pi-building"></i>
            {{ getDeveloperName() }}
        </p>


        <div class="game-genre-text" *ngIf="hasGenre()">
            <i class="pi pi-tag"></i>
            <span>{{ getGeneros() }}</span>
        </div>

        <div class="game-platforms" *ngIf="hasPlatforms()">
            <span
                class="platform-icon"
                *ngFor="let juegoPlataforma of getLimitedPlatforms()"
                [pTooltip]="juegoPlataforma.plataforma?.nombre"
                tooltipPosition="top"
            >
                <i [class]="getPlatformIcon(juegoPlataforma.plataforma?.nombre || '')"></i>
            </span>
        </div>


        <div class="game-genre-tag" *ngIf="hasGenre()">
            <span class="genre-tag">
                {{ getGeneros() }}
            </span>
        </div>
    </div>
</div>
