<p-menubar [model]="items" class="px-3">
  <ng-template pTemplate="start">
    <a routerLink="/home" class="flex items-center gap-2 no-underline">
      <img src="assets/images/logo.svg" width="28" height="28" alt="Logo" />
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex gap-2   items-center">
      <button pButton label="Iniciar sesión" [routerLink]="['/iniciar-sesion']"></button>
      <button pButton label="Registrarse" [routerLink]="['/registro']" class="p-button-outlined"></button>
    </div>
  </ng-template>
</p-menubar>

