<div class="opciones-container mt-5">
  <!-- Imagen del juego -->
  <img [src]="imagen" alt="{{juego.nombre}}" class="game-cover-image" />

  <div class="opciones-content d-flex flex-column gap-3">
    <!-- Precio -->
    <div class="price-section">
      <span class="price-label">Precio</span>
      <span class="price-value">{{juego.precio | currency:'USD':'code'}}</span>
    </div>

    <!-- Botones de acción -->
    <ng-container *ngIf="juegoComprado; else noComprado">
      <button class="btn btn-success btn-lg w-100 rounded" (click)="irABiblioteca()">
        Ver en biblioteca
      </button>
    </ng-container>

    <ng-template #noComprado>
      <button (click)="agregarAlCarrito()" class="btn-cart btn btn-info btn-lg w-100 rounded">
        <i class="pi pi-shopping-cart"></i>
        <span>Agregar al carrito</span>
      </button>

      <button (click)="agregarAWishlist(juego.id)" class="btn-wishlist btn btn-lg w-100 rounded text-white" style="background-color: #4d4848;">
        <i class="pi pi-heart"></i>
        <span>Lista de deseos</span>
      </button>
    </ng-template>
  </div>
</div>
