<div
  class="perfil-container"
  [ngStyle]="{
    'background-image': imagenFondo ? 'url(' + imagenFondo + ')' : 'none'
  }"
>
  <div class="perfil-card">
    <div class="perfil-avatar">
      <img
        *ngIf="imagenPerfil"
        [src]="imagenPerfil"
        alt="Perfil"
        class="avatar-img"
      />
    </div>

    <div  *ngIf="usuario != null"  class="perfil-datos">
      <div class="fila">
        <div class="columna">
          <p><strong>Nombre:</strong> {{usuario.nombre}}</p>
          <p><strong>Email:</strong> {{usuario.email}}</p>
        </div>
        <div class="columna">
          <p><strong>Apellido:</strong> {{usuario.apellido}}</p>
          <p><strong>Dirección:</strong> {{usuario.direccion}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="upload-section">
    <p-fileUpload
      mode="basic"
      name="perfil"
      chooseLabel="Cambiar perfil"
      accept="image/*"
      (onSelect)="onPerfilUpload($event)"
      auto="true"
      customUpload="true"
    ></p-fileUpload>

    <p-fileUpload
      mode="basic"
      name="fondo"
      chooseLabel="Cambiar fondo"
      accept="image/*"
      (onSelect)="onFondoUpload($event)"
      auto="true"
      customUpload="true"
    ></p-fileUpload>
  </div>
<button
pButton
      class="p-button-outlined p-button-lg mt-3 mi-boton-verde"
        icon="pi pi-arrow-left"
      label="Volver al Catálogo"
  (click)="navigateToCatalogo()"
>
  
  Volver al Catálogo
</button>

</div>
