<div class="search-container">
    <span class="p-input-icon-left search-wrapper">
        <i class="pi pi-search search-icon"></i>

        <input
            pInputText
            type="text"
            [placeholder]="placeholder"
            class="search-input"
            [(ngModel)]="searchTerm"
            (input)="handleSearchInput()"
            [disabled]="disabled"
        />

        <button
            *ngIf="hasSearchTerm()"
            class="clear-button"
            type="button"
            (click)="clearSearch()"
            pTooltip="Limpiar búsqueda"
            tooltipPosition="top"
        >
            <i class="pi pi-times"></i>
        </button>
    </span>
</div>
