/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* un gris claro para el fondo */
}

