/* You can add global styles to this file, and also import other style files */


/* Importar PrimeIcons - Necesario para que se muestren los iconos */
@import 'primeicons/primeicons.css';

/* Reset y estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #0b0d0f;  /* fondo general oscuro */
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #66c0f4;
}
